table{
    margin: auto;
    margin-top: 2.5%;
}

 table,th, td {
    border:1px solid black;
    border-collapse: collapse;
  }

  th,td{
      padding: 8px;
  }

  .button{
      background-color:tomato;
      border: 1px solid black;
      border-radius: 6px;
      padding: 4px 14px;
  }